.container {
  margin-top: 12px;
  padding: 10px;
}
h1 {
  margin-top: 50px;
  font-family: "Anton", sans-serif;
  font-weight: 900;
  line-height: 1.1;
  font-size: 85px;
}

p {
  font-family: "Kanit", sans-serif;
  margin-top: 25px;
  margin-bottom: 70px;
}

.avatar {
  max-width: 300px;
  margin-left: 30px;
}
.logo {
  max-width: 80px;
}
section {
  background-image: url("background.jpg");
  border-radius: 70px;
}

@media (max-width: 576px) {
  .avatar {
    display: none;
  }

  h1 {
    text-align: center;
    font-size: 40px;
  }
  p {
    text-align: center;
  }
}
